/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* BACKGROUND VIDEO */
#background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    z-index: -1;
}

#background-video {
    object-fit: cover;
    filter: brightness(90%);
}

@media (min-aspect-ratio: 16/9) {
    #background-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #background-video {
        width: auto;
        height: 100%;
    }
}

/* MAIN-CONTAINER */

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    /* padding: 16px; */
    color: #FFFFFF;
    font-family: 'VT323', monospace;
    text-shadow: -2pt 0 3pt #CE5937, 2pt 0 3pt #0B80CE;
}

html,
body {
    margin: 0;
    height: 100%;
}

body {
    background: rgb(208, 87, 186);
    background: linear-gradient(180deg, rgba(208, 87, 186, 1) 0%, rgba(129, 61, 122, 1) 100%);
}

@media (min-width: 1025px) {
    body {
        margin: 32px;
        height: calc(100vh - 64px);
        width: calc(100vw - 64px);
    }
}

/* INFORMATIONS */
#informations-container {
    margin: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

@media (min-aspect-ratio: 16/9) {
    #informations-container {
        position: initial;
        margin-top: 0px;
    }
}

@media (min-width: 769px) {
    #informations-container {
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
}

#informations-container>* {
    text-align: initial;
}

/* STATUS INDICATOR */
#status-indicator-container {
    font-size: 2em;
    display: flex;
    align-items: center;
}

@media (min-width: 769px) {
    #status-indicator-container {
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        left: 0;
        margin-left: 16px;
    }
}

@media (min-width: 1025px) {
    #status-indicator-container {
        margin-left: 32px;
    }
}

#status-indicator-text-container {
    margin-right: 16px;
}

#status-text {
    line-height: 40px;
}

#status-indicator-container #status-icon {
    filter: invert() drop-shadow(-2pt 0 3pt #CE5937) drop-shadow(2pt 0 3pt #0B80CE);
}

/* TRACK DETAILS */
#track-details-container {
    display: inline-block;
}

#track-title {
    font-size: 3em;
    margin: 0;
}

#track-artist,
#track-year {
    display: inline;
    font-size: 2em;
    margin: 0;
}

#track-year::before {
    content: " — ";
}

/* LYRICS */
#lyrics-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.line {
    font-size: 2em;
    line-height: 1.2em;
    height: 2.4em;
    overflow: hidden;
    text-align: center;
}

@media (min-aspect-ratio: 16/9) {
    .line {
        height: 1.2em;
    }
}

@media (min-width: 769px) {
    .line {
        font-size: 3em;
    }
}

@media (min-width: 1025px) {
    .line {
        font-size: 4em;
    }
}

.line.hidden {
    opacity: 0;
}

.word-outer {
    position: relative;
}

.word-outer .word-inner::after {
    content: attr(data-text);
    position: absolute;
    width: 0;
    line-height: 1em;
    text-align: left;
    left: 0;
    top: 0;
    overflow: hidden;
    color: rgb(255, 204, 0);
    white-space: nowrap;
    transition: all;
    transition-duration: .07s;
    transition-timing-function: linear;

    /* DARKER STROKE */
    --stroke-color: #000;
    --stroke-blur: 2px;
    text-shadow: -2pt 0 3pt #CE5937, 2pt 0 3pt #0B80CE, -2px 0px var(--stroke-blur) var(--stroke-color), -2px -2px var(--stroke-blur) var(--stroke-color), 0px -2px var(--stroke-blur) var(--stroke-color), 2px -2px var(--stroke-blur) var(--stroke-color), 2px 0px var(--stroke-blur) var(--stroke-color), 2px 2px var(--stroke-blur) var(--stroke-color), 0px 2px var(--stroke-blur) var(--stroke-color), -2px 2px var(--stroke-blur) var(--stroke-color), -2px 2px var(--stroke-blur) var(--stroke-color);
}

/* CONTROLS */

#controls-container {
    width: 100%;
    min-height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#controls-banner {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.5em;
    background-color: rgb(68, 68, 68);
    color: white;
    border-radius: 16px;
    opacity: 0;
    transition: opacity .25s;
    box-shadow: -2pt 0 3pt #CE5937, 2pt 0 3pt #0B80CE;
    max-width: 75vw;
    width: 75%;
}

@media (min-height: 441px) {
    #controls-banner {
        font-size: 2em;
    }
}

@media (min-height: 581px) {
    #controls-banner {
        font-size: 3em;
    }
}

@media (min-width: 566px) {
    #controls-banner{
        width: initial;
    }
}

#controls-container:hover #controls-banner {
    opacity: 50%;
}

.track-paused #controls-banner,
#controls-container:hover #controls-banner:hover {
    opacity: 85%;
}

#controls-container:hover #controls-banner:hover i {
    opacity: 100%;
}

#controls-banner i {
    cursor: pointer;
    margin: 0.5em 0;
}

@media (min-width: 566px) {
    #controls-banner i {
        margin: 0.5em 1em;
    }
}