/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* VAR */
:root {
    --background-pri-color: #555EBC;
    --background-sec-color: #58508e;
    --red-glow: #CE5937;
    --blue-glow: #0B80CE;
}

/* PAGE SETUP */
body {
    background: var(--background-pri-color);
    background: linear-gradient(180deg, var(--background-pri-color) 0%, var(--background-sec-color) 100%);
    min-height: calc(100vh - 16px);
}

/* BACKGROUND VIDEO */
#background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    z-index: -999;
}

#background-video {
    object-fit: cover;
    filter: brightness(90%) blur(1px);
}

@media (min-aspect-ratio: 16/9) {
    #background-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #background-video {
        width: auto;
        height: 100%;
    }
}

/* SCANLINES */

#scanlines-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: repeating-linear-gradient(180deg, rgba(0, 0, 0, 0) 1.3%, rgb(0, 0, 0) 1.5%, rgb(0, 0, 0) 1.5%, rgba(255, 255, 255, 0) 1.7%);
    pointer-events: none;
    background-repeat: repeat-y;
    background-size: cover;
    opacity: 15%;
}

.scanlines-disabled #scanlines-overlay {
    display: none;
}

/* HEADER */
header {
    padding: 16px;
    font-size: 2em;
}

header>* {
    margin: 0;
}

header a[href] {
    text-decoration: none;
}

/* MAIN-CONTAINER */
#main-container {
    max-width: 870px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    width: calc(100% - (env(safe-area-inset-right) + env(safe-area-inset-left)));
    color: #FFFFFF;
    font-family: 'VT323', monospace;
    text-shadow: -2pt 0 3pt var(--red-glow), 2pt 0 3pt var(--blue-glow);
}

/* SECTIONS */
section {
    width: 100%;
    max-width: 560px;
    font-size: 1.5em;
    background: rgba(46 2 86 / 30%);
    margin: 8px;
    padding: 8px;
    filter: drop-shadow(-2pt 0 3pt var(--red-glow)) drop-shadow(2pt 0 3pt var(--blue-glow));
}

.section-title-container {
    display: block;
    overflow-x: hidden;
    margin: .5em 0;
}

section .section-title {
    display: flex;
    margin: 0;
}

section .section-title::before,
section .section-title::after {
    content: "";
    flex: 1;
    margin: auto 1em;
    background: url('assets/dashes.svg');
    height: 3px;
    filter: drop-shadow(-2pt 0 3pt var(--red-glow)) drop-shadow(2pt 0 3pt var(--blue-glow));
}

section .section-title::before {
    margin-left: 0;
}

section .section-title::after {
    margin-right: 0;
}

/* MESSAGES */
.message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    max-width: min(560px, 85vw);
    font-size: 1.5em;
    background: rgb(85, 94, 188);
    background: linear-gradient(180deg, rgba(85, 94, 188, .55) 0%, rgba(88, 80, 142, .55) 100%);
    filter: drop-shadow(-2pt 0 3pt #CE5937) drop-shadow(2pt 0 3pt #0B80CE);
    padding: 16px;
    text-align: center;
    z-index: 10;
}

.message-title-container {
    display: block;
    overflow-x: hidden;
    margin-bottom: 1em;
}

.message .message-title {
    display: flex;
    margin: 0;
}

.message .message-title::before,
.message .message-title::after {
    content: "";
    flex: 1;
    margin: auto .2em;
    background: url('assets/dashes.svg');
    height: 3px;
    filter: drop-shadow(-2pt 0 3pt #CE5937) drop-shadow(2pt 0 3pt #0B80CE);
}

.message .message-title::before {
    margin-left: 0;
}

.message .message-title::after {
    margin-right: 0;
}

.message .message-content {
    font-size: 1.5em;
}

.message .message-actions-row {
    display: flex;
    justify-content: space-evenly;
}

.message .message-actions-row * {
    flex-basis: 25%;
}

/* LOADING INDICATOR*/
#main-container.loading {
    justify-content: center;
}

#main-container.loading #informations-container,
#main-container.loading #lyrics-container,
#main-container.loading #controls-container {
    display: none;
}

#main-container:not(.loading) #loading-indicator {
    display: none;
}

.loading-dot {
    opacity: 0;
}

@keyframes blink-onefourth {
    25% {
        opacity: 100%
    }
}

@keyframes blink-onehalf {
    50% {
        opacity: 100%
    }
}

@keyframes blink-threefourths {
    75% {
        opacity: 100%
    }
}

.loading-dot {
    animation: 1s blink-onefourth infinite step-end
}

.loading-dot:nth-child(2) {
    animation-name: blink-onehalf
}

.loading-dot:nth-child(3) {
    animation-name: blink-threefourths
}

#loading-indicator {
    font-size: 4em;
}

/* FORMS */
form input[type="search"] {
    -webkit-appearance: none;
    background: rgba(0, 0, 0, 0.2);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: 2px solid white;
    outline: none;
}

form .form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

form .form-group>label {
    margin-right: 16px;
}

form .form-group>input {
    flex: 1;
}

form input {
    font-family: inherit;
    font-size: inherit;
    border: none;
    color: inherit;
    text-transform: uppercase;
    filter: drop-shadow(-2pt 0 3pt var(--red-glow)) drop-shadow(2pt 0 3pt var(--blue-glow));
}

/* BUTTONS */
.button {
    font-size: 1.4em;
    font-family: inherit;
    padding: 3px 10px;
    color: inherit;
    text-transform: uppercase;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    border: none;
    text-decoration: none;
    text-shadow: inherit;
}

.button:hover {
    background-color: white;
    color: blue;
    text-decoration-color: blue;
    text-shadow: none;
    filter: drop-shadow(-2pt 0 3pt #CE5937) drop-shadow(2pt 0 3pt #0B80CE);
}

/* LINKS */

a[href] {
    padding: 3px;
    color: inherit;
    text-decoration: underline solid white;
    text-transform: uppercase;
}

a[href].uppercase-disable {
    text-transform: initial;
}

a[href]:hover {
    background-color: white;
    color: blue;
    text-decoration-color: blue;
    text-shadow: none;
    filter: drop-shadow(-2pt 0 3pt var(--red-glow)) drop-shadow(2pt 0 3pt var(--blue-glow));
}

/* FOOTER */
footer {
    margin-top: 64px;
    font-size: 1.5em;
}

footer a[href] {
    text-decoration: none;
}

/* LISTS */

ul{
    position: relative;
    list-style: none;
    padding-left: 1.2em;
    padding-right: 1.2em;
    margin-left: 10px;
}

ul li{
    margin: 0.6em 0;
}

ul li::before{
    content: "> ";
    position: absolute;
    left: 0;
}