header .tagline {
    font-size: 0.75em;
}

header .tagline:first-child {
    margin-bottom: 0;
}

header .tagline:last-child {
    margin-top: 0;
    text-align: right;
}

/* FEATURED */
#featured-tracks-container a.track-link {
    margin: 0.5em 0;
}

#featured-tracks-container a.track-link::before {
    content: "> ";
}

/* SEARCH */
#search-form {
    margin-bottom: 32px;
}

a.track-link {
    padding: 6px;
    display: block;
    text-decoration: none;
    text-decoration: initial;
}